.container{
    padding: 0 20px;
    max-width: 1120px;
    margin: auto;
}
.text-primary{
    color: #f7c08a;
}
%btn-shared{
    background: $bg-dark-color;
    border: none;
    padding: 15px;
    color: $secondary-color;
    margin-top: 10px;
}
.btn{
    @extend %btn-shared;
    &-light{
        background-color: $bg-light-color;
        color: set-text-color($bg-light-color);
    }
    &-dark{
        background-color: $bg-dark-color;
        color: set-text-color($bg-dark-color);
    }
    &:hover{
        background-color:$primary-color ;
        color: $bg-dark-color;
    }
}
.box{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
}
.l-heading {
    font-size: 40px;
    padding: 12px;
    line-height: 1.2em;
}
.py{
    &-1{
        padding: 10px 0;
    }
    &-2{
        padding: 20px 0;
    }
    &-3{
        padding: 30px 0;
    }
}

.bg{
    &-light{
        background-color:$bg-light-color ;
        color: set-text-color($bg-light-color);
    }
    &-dark{
        background-color: $bg-dark-color;
        color: set-text-color($bg-dark-color);
    }
    &-primary{
        background-color:$primary-color ;
        color: $bg-dark-color;
    }
}