// Tablet & Smaller
@media (max-width:900px){
    #about-info{
        .container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .info-right{
                margin: auto;
                text-align: center;
                img{
                    width: 80%;
                }
            }
        }
    }
}
@media (max-width:550px){
    #navbar{
        .container{
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: stretch;
            height: 240px;
            ul{
                display: flex;
                flex-direction: column;
                align-items:center;
                li{
                    width: 100%;
                    text-align: center;
                    a{
                        display: block;
                    }
                } 
            }
        }
    }
    #showcase{
        height: 60vh;
        &-content{
            height: 55vh;
        }
    }
    #home-info{
        display: flex;
        flex-direction: column;
        height: 70vh;
        .info-img{
            flex: 1.5;
            width: 100%;
            height: 50%;
        }
        .info-content{
            padding: 20px 15px 20px 15px;
            flex: 1;
            height: 50%;
        }
    }
    #features{
        display: flex;
        flex-direction: column;
        height: 90vh;
        .box{
            padding: 30px 0 0 0;
            
        }
        h3{
            padding-bottom: 0;
        }
        p{
            padding: 0;
            max-width: 300px;
        }
    }
    #contact-info{
        .container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &>div{
                letter-spacing: 1px;
                &:not(:last-child){
                    border-bottom: .1px dotted rgb(173, 166, 166);
                }
            }
        }
    }
}