// Variables
$primary-color:#f7c08a;
$secondary-color:#fff;
$bg-light-color:#f4f4f4;
$bg-dark-color:#333;
// Fonts
$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
// Functions
@function set-text-color($color){
    @if (lightness($color)>50){
        @return #333;
    }
    @else{
        @return #fff;
    }
}
// Mixins