.container {
  padding: 0 20px;
  max-width: 1120px;
  margin: auto;
}

.text-primary {
  color: #f7c08a;
}

.btn {
  background: #333;
  border: none;
  padding: 15px;
  color: #fff;
  margin-top: 10px;
}

.btn-light {
  background-color: #f4f4f4;
  color: #333;
}
.btn-dark {
  background-color: #333;
  color: #fff;
}
.btn:hover {
  background-color: #f7c08a;
  color: #333;
}

.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.l-heading {
  font-size: 40px;
  padding: 12px;
  line-height: 1.2em;
}

.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}

.bg-light {
  background-color: #f4f4f4;
  color: #333;
}
.bg-dark {
  background-color: #333;
  color: #fff;
}
.bg-primary {
  background-color: #f7c08a;
  color: #333;
}

@media (max-width: 900px) {
  #about-info .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #about-info .container .info-right {
    margin: auto;
    text-align: center;
  }
  #about-info .container .info-right img {
    width: 80%;
  }
}
@media (max-width: 550px) {
  #navbar .container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 240px;
  }
  #navbar .container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #navbar .container ul li {
    width: 100%;
    text-align: center;
  }
  #navbar .container ul li a {
    display: block;
  }

  #showcase {
    height: 60vh;
  }
  #showcase-content {
    height: 55vh;
  }

  #home-info {
    display: flex;
    flex-direction: column;
    height: 70vh;
  }
  #home-info .info-img {
    flex: 1.5;
    width: 100%;
    height: 50%;
  }
  #home-info .info-content {
    padding: 20px 15px 20px 15px;
    flex: 1;
    height: 50%;
  }

  #features {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  #features .box {
    padding: 30px 0 0 0;
  }
  #features h3 {
    padding-bottom: 0;
  }
  #features p {
    padding: 0;
    max-width: 300px;
  }

  #contact-info .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #contact-info .container > div {
    letter-spacing: 1px;
  }
  #contact-info .container > div:not(:last-child) {
    border-bottom: 0.1px dotted #ada6a6;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

#navbar {
  background: #333;
}
#navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
#navbar .container h1 {
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
  flex-basis: 50px;
}
#navbar .container h1 a {
  color: #fff;
}
#navbar .container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#navbar .container ul li a {
  padding: 20px 20px;
}
#navbar .container ul li a:link, #navbar .container ul li a:visited {
  color: #fff;
}
#navbar .container ul li a:hover, #navbar .container ul li a.current {
  background-color: #444;
  color: #f7c08a;
}

#showcase {
  background: url("../img/showcase.jpg") no-repeat center/cover;
  height: 100vh;
}
#showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 90vh;
  color: #fff;
}
#showcase-content h1 {
  flex-basis: 50px;
  font-size: 52px;
  font-weight: bold;
}
#showcase-content p {
  flex-basis: 60px;
  font-size: 18px;
}

#home-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
#home-info .info-img {
  order: 2;
  flex: 1.3;
  background: url(../img/photo-1.jpg) no-repeat center/cover;
  height: 100%;
}
#home-info .info-content {
  order: 1;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 50px 15px 30px 15px;
}
#home-info .info-content h2 {
  flex-basis: 70px;
}
#home-info .info-content p {
  line-height: 2;
  flex-basis: 200px;
}
#home-info .info-content a {
  flex-basis: 20px;
  width: 40%;
}

#features {
  display: flex;
  flex-direction: row;
  height: 50vh;
}
#features i {
  flex-basis: 70px;
}
#features h3 {
  flex-basis: 50px;
}
#features p {
  flex-basis: 50px;
  padding: 20px;
}

#main-footer {
  background-color: #444;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

#about-info .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#about-info .container .info-left {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 50px;
  line-height: 2.2;
}
#about-info .container .info-right {
  flex: 1.3;
  height: 100%;
  width: 100%;
}
#about-info .container .info-right img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

#testimonials {
  background: url(../img/test-bg.jpg) no-repeat center/cover;
  height: 100vh;
}
#testimonials .container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
#testimonials .container h2 {
  flex-basis: 130px;
  color: #fff;
}
#testimonials .container .testimonial {
  flex-basis: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  opacity: 0.9;
  border-radius: 10px;
}
#testimonials .container .testimonial img {
  border-radius: 50%;
  height: 100px;
  padding: 10px;
}
#testimonials .container .testimonial p {
  padding: 10px;
}

#contact-form .container form {
  display: flex;
  flex-direction: column;
}
#contact-form .container form .form-group {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
#contact-form .container form .form-group label {
  margin-top: 20px;
  flex-basis: 10px;
}
#contact-form .container form .form-group input, #contact-form .container form .form-group textarea {
  outline: none;
  border: #999 0.1px solid;
  margin: 5px 0;
  flex-basis: 30px;
}
#contact-form .container form .form-group input:focus, #contact-form .container form .form-group textarea:focus {
  outline: none;
  border-color: #f7c08a;
}
#contact-form .container form .form-group textarea {
  flex-basis: 150px;
}
#contact-form .container form button {
  width: 50%;
  margin: auto;
}

#contact-info .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#contact-info .container > div {
  flex: 1;
  padding: 50px 0 20px;
}
#contact-info .container > div i {
  flex-basis: 70px;
}
#contact-info .container > div h3 {
  flex-basis: 50px;
}
#contact-info .container > div p {
  flex-basis: 50px;
}

@media (max-width: 900px) {
  #about-info .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #about-info .container .info-right {
    margin: auto;
    text-align: center;
  }
  #about-info .container .info-right img {
    width: 80%;
  }
}
@media (max-width: 550px) {
  #navbar .container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 240px;
  }
  #navbar .container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #navbar .container ul li {
    width: 100%;
    text-align: center;
  }
  #navbar .container ul li a {
    display: block;
  }

  #showcase {
    height: 60vh;
  }
  #showcase-content {
    height: 55vh;
  }

  #home-info {
    display: flex;
    flex-direction: column;
    height: 70vh;
  }
  #home-info .info-img {
    flex: 1.5;
    width: 100%;
    height: 50%;
  }
  #home-info .info-content {
    padding: 20px 15px 20px 15px;
    flex: 1;
    height: 50%;
  }

  #features {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  #features .box {
    padding: 30px 0 0 0;
  }
  #features h3 {
    padding-bottom: 0;
  }
  #features p {
    padding: 0;
    max-width: 300px;
  }

  #contact-info .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #contact-info .container > div {
    letter-spacing: 1px;
  }
  #contact-info .container > div:not(:last-child) {
    border-bottom: 0.1px dotted #ada6a6;
  }
}/*# sourceMappingURL=main.css.map */