@import 'utilities';
@import 'config';
@import 'media';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $font-family;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

#navbar{
    background: $bg-dark-color;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        h1{
            margin-top: 15px;
            font-size: 30px;
            text-align: center;
            flex-basis: 50px;
            a{
                color: $secondary-color;
            }
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            li {
                a{
                    padding: 20px 20px;
                    &:link,
                    &:visited
                    {
                        color: $secondary-color;
                    }
                    &:hover,
                    &.current{
                        background-color: #444;
                        color: $primary-color;
                    }

                }
            
            }
        }
    }
}

#showcase{
    background: url('../img/showcase.jpg') no-repeat center/cover;
    height: 100vh;
    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 90vh;
        color: $secondary-color;
        h1{
            flex-basis: 50px;
            font-size: 52px;
            font-weight: bold;
        }
        p{
            flex-basis:60px;
            font-size: 18px;
        }
    }
}

#home-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70vh;
    .info-img{
        order: 2;
        flex: 1.3;
        background: url(../img/photo-1.jpg) no-repeat center/cover;
        height: 100%;
    }
    .info-content{
        order:1;
        flex:1.5; 
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        text-align: center;
        padding: 50px 15px 30px 15px;
        h2{
            flex-basis: 70px;
        }
        p{
            line-height: 2;
            flex-basis: 200px;
        }
        a{
            flex-basis: 20px;
            width: 40%;

        }
    }
}

#features{
    display: flex;
    flex-direction: row;
    height: 50vh;

    i{
        flex-basis: 70px;
    }
    h3{
        flex-basis: 50px;
    }
    p{
        flex-basis: 50px;
        padding: 20px;
    }
}

#main-footer{
    background-color: #444;
    color: set-text-color($bg-dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#about-info{
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .info-left{
            flex: 1.5;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-right: 50px;
            line-height: 2.2;
        }
        .info-right{
            flex: 1.3;
            height: 100%;
            width:100%;
            img{
                height: 100%;
                width:100%;
                border-radius: 50%;
            }
            
        }
    }
}
#testimonials{
    background: url(../img/test-bg.jpg) no-repeat center/cover;
    height: 100vh;
    .container{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        h2{
            flex-basis: 130px;
            color: $secondary-color;
        }
        .testimonial{
            flex-basis: 150px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;
            opacity: 0.9;
            border-radius: 10px;
            img{
                border-radius: 50%;
                height: 100px;
                padding: 10px;
            }
            p{
                padding: 10px;
            }
        }
    }
}

#contact-form{
    .container{
        form{
            display: flex;
            flex-direction: column;
            .form-group{
                display: flex;
                flex-direction: column;
                align-content: space-between;
                label{
                    margin-top: 20px;
                    flex-basis: 10px;
                }
                input,textarea{
                    outline: none;
                    border: #999 .1px solid;
                    margin: 5px 0;
                    flex-basis: 30px;
                    &:focus{
                        outline: none;
                        border-color: $primary-color;
                    }
                }
                textarea{
                    flex-basis: 150px;
                }
            }
            button{
                width: 50%;
                margin: auto;
            }
        }
    }
}

#contact-info{
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &>div{
            flex: 1;
            padding: 50px 0 20px;
            i{
                flex-basis: 70px;
            }
            h3{
                flex-basis: 50px;
            }
            p{
                flex-basis: 50px;
            }
        }
    }
}
@import 'media';